.thumbnail{
	height:350px;
	padding: 4%;
}

.thumbnail > .img {
	height: 400px;
}
.thumbnail > .footer {
	margin-bottom: 0px;
	float:bottom;
}

.imgthumb{
	height: 400px;
}

.carousel-inner{
	max-height: 300px;
	background-position: center;
}